<h3>About The Series</h3>
<p>
  Max & Ruby is about two sibling bunnies, a little brother named Max and a big sister named Ruby. It primarily focuses
  on how these two siblings try to get along with each other in everyday life, despite that they seemingly almost never
  want the same thing simultaneously. The story that goes on in each episode usually finishes with mischievous, cute,
  and hilarious results! Also, in the episodes that focus on Ruby trying to accomplish something for personal reasons
  or to earn a Bunny Scout badge, she actually wouldn't have accomplished her goal without Max doing something for his
  personal benefit that surprisingly helps her.
</p>
<p>
  This series also features Max and Ruby's grandmother, Grandma, and all of their friends and friendly neighbors, such
  as the Huffingtons. It is set in the small but friendly town of East Bunnyhop, in a world that is seemingly inhabited
  by bunnies like Max and Ruby, just like how we humans inhabit our world. As East Bunnyhop is a tight-knit community
  where each and every bunny is pleasantly friendly and knows each other well, it is an ideal place for Max and Ruby
  to live and grow up in.
</p>
<p>
  There are 7 seasons in this series. In seasons 1-5, each episode is split into three 7-8 minute segments and Max and
  Ruby's parents are not seen. In seasons 6-7, each episode is split into just two 12-minute segments and Max and
  Ruby's parents are seen. Max and Ruby do have parents, but because this app only focuses on seasons 1-5, their
  parents won't be seen here.
</p>
<br/>
<h3>About This App</h3>
<p>
  My fan app on Max & Ruby is a full-stack app that utilizes Angular for the front-end, Spring for the back-end, and
  MySQL to store the database of characters and episodes. Sorry, no MEAN stack here. I wonder if the stack that I'm
  using here is also a common stack for these web apps.
</p>
<p>
  Anyway, this app allows users to search for characters (that have appeared in seasons 1-5), read their bios, and find
  out which episodes that a particular character has appeared in (background appearances won't count). It also allows
  users to search for episodes based on title, season, episode segment A, B, or C, the primary word or phrase that Max
  says, or whether Ruby says "Little brothers". Unfortunately, users won't be able to watch the actual episodes in this
  app, nor will there be links to them, but they can read the plot summaries of each episode, check out the other words
  or phrases that Max says in an episode, and find out which characters have made an appearance in an episode.
</p>
<p>
  I have also created a "depth chart" for Ruby's best friend, where each friend is placed based on episode appearances
  throughout the series. I think that the more appearances that friend makes, the closer that friend is to Ruby. Check
  it out for yourself.
</p>
<p>
  About the sign in page. No the users can't create user accounts on this app. Sorry. The sign in feature is only for
  the admin, that's me. I can sign in and do administrative stuff on this app.
</p>
<p>Now that you have gotten all the way here, please enjoy the rest of this...</p>
<p>"App!"</p>
<br/>
<div class="text-center">
  <img src="assets/img/20200617_034453.jpg" width="500" alt="Max's Train Ride">
  <p class="font-italic">"Train ride!"</p>
</div>
<br/><br/>
