<h1>Photos</h1>
<p>
  The following photos are Ruby's attempts at taking the perfect photo of her and Max to give as a gift to Grandma.
</p>
<div class="text-center">
  <h3>The Big Picture</h3>
  <img src="assets/img/20201024_013101.jpg" alt="The Big Picture Attempt 1" width="500" class="img-fluid">
  <br/><br/>
  <img src="assets/img/20201024_013131.jpg" alt="The Big Picture Attempt 2" width="500" class="img-fluid">
  <br/><br/>
  <img src="assets/img/20201024_013201.jpg" alt="The Big Picture Near Accident" width="500" class="img-fluid">
  <br/><br/>
  <img src="assets/img/20201024_013220.jpg" alt="The Big Picture Final Product" width="500" class="img-fluid">
  <p class="font-italic">"Butterfly!"</p>
</div>
