<h1>Photos</h1>
<p>
  Unless otherwise specified, the following photos are Ruby's attempts at taking the perfect photo of her and Max to
  give as a gift to Grandma or Ruby and Louise's attempts at taking nature photos for a Bunny Scout badge.
</p>
<div class="text-center">
  <h3>The Big Picture</h3>
  <img src="assets/img/20201024_013101.jpg" alt="The Big Picture Attempt 1" width="500" class="img-fluid">
  <br/><br/>
  <img src="assets/img/20201024_013131.jpg" alt="The Big Picture Attempt 2" width="500" class="img-fluid">
  <br/><br/>
  <img src="assets/img/20201024_013201.jpg" alt="The Big Picture Near Accident" width="500" class="img-fluid">
  <br/><br/>
  <img src="assets/img/20201024_013220.jpg" alt="The Big Picture Final Product" width="500" class="img-fluid">
  <p class="font-italic">"Butterfly!"</p>
  <h3>Grandma's Attic</h3>
  <p>
    This old picture is of Grandma and Grandpa attending the annual Bunnyhop, dressed in the outfits that Max and Ruby
    are dressed in while playing dress-up in Grandma's attic.
  </p>
  <img src="assets/img/20201031_015043.jpg" alt="Grandma's Treasure" width="500" class="img-fluid">
  <p class="font-italic">"Treasure!"</p>
  <h3>Ruby's Safari</h3>
  <img src="assets/img/20201109_050254.jpg" alt="Ruby's Safari" width="500" class="img-fluid">
  <br/><br/>
</div>
