<form #searchChar="ngForm" (ngSubmit)="onSearch(searchChar)">
  <div class="row">
    <div class="col-md-8 form-group">
      <input class="form-control" ngModel name="searchQuery" type="text" placeholder="Name of your favorite bunny">
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-block" type="submit">Search Bunnies</button>
    </div>
  </div>
</form>

<br/>
<div class="alert alert-danger" *ngIf="characters.length === 0">
  No bunnies with name containing "{{lastQuery}}" found.
</div>

<div class="list-group">
  <a
    class="list-group-item clearfix"
    *ngFor="let character of characters"
    [routerLink]="[character.name]"
    style="cursor: pointer"
  >
    {{character.name}}
  </a>
</div>
<br/>
<div class="text-center">
  <img src="assets/img/20200418_043306.jpg" alt="Max Meets Morris" width="500" class="img-fluid">
  <p>What could Max and Morris possibly be thinking?</p>
  <br/>
  <img src="assets/img/20200424_193719.jpg" alt="Christmas Max" width="500" class="img-fluid">
  <p class="font-italic">"Santa Claus!"</p>
</div>
<br/><br/>
