<div class="text-center">
  <h5>Phil's</h5>
  <img src="https://upload.wikimedia.org/wikipedia/en/5/56/Max_%26_Ruby_logo.png" alt="Max & Ruby logo">
  <h5>Fan App</h5>
  <br/>
  <h1>Welcome! Bienvenue !</h1>
  <h5>Please, take a look around and enjoy!</h5>
  <h5>"App!"</h5>
  <br/>
  <img src="assets/img/20200628_150626.jpg" width="500" alt="Max's Easter Egg Hunt">
  <p class="font-italic">"Max, did you hide them?"</p>
  <br/>
  <img src="assets/img/20200616_033850.jpg" width="500" alt="Max face">
  <p>Max's cute, classic "up to no good" face!</p>
  <br/><br/>
</div>
